{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/mini_pro.css' %}">
</head>

<body style="background-color: #e8f4fd;">

    <div id="main_login">
        <h1>Digital Approval System</h1>
        <img src="{% static 'images/nit_ap_logo.png' %}" alt="Logo" width=20%>
    
        <div id="login_frame">
            <h3>Login</h3>
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="text" id="username" name="uid" placeholder="Username" required>
                <input type="password" id="password" name="pswd" placeholder="Password" required>
                <button type="submit" id="login">Login</button>
            </form>
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</body>

</html>